@model CIPlatform.Entities.ViewModels.MissionHomeModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


  <div id="main-header" class="d-flex flex-row">
    <div id="menu-side-bar" class="position-absolute">
      <div id="close-img" class="p-3 img-close">
        <img src="~/images/cancel.png" alt="" />
      </div>
      <div id="menu-heading" class="d-flex justify-content-center align-items-center">
        <a href="#" class="side-menu-items text-decoration-none text-dark w-100 m-1 p-1 px-2">Stories</a>
        <div class="side-menu-items dropdown w-100 m-1 p-1 px-2">
          <button class="dropdown-toggle border-0 bg-white w-100 d-flex justify-content-between align-items-center"
            type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Policy
            <img src="~/images/drop-down.png" alt="" />
          </button>
          <ul class="dropdown-menu w-100">
            <li><a class="dropdown-item" href="#">Volunteering</a></li>
            <li><a class="dropdown-item" href="#">Sponsored</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="filter-side-bar" class="position-absolute img-close p-2">
      <div id="filter-img-close" class="p-2 img-close">
        <img src="~/images/cancel.png" alt="" />
      </div>
      <div id="side-search-nav" class="d-block d-flex flex-column">
        <div class="row d-flex flex-column mx-0" id="side-filter-dropdowns">
          <div class="filters col-3 p-0 m-1 w-100 filter-side-items">
            <div class="dropdown w-100 h-100 p-0">
              <button
                class="w-100 h-100 dropdown-toggle border-0 bg-white d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Country
                <img src="~/images/drop-down.png" alt="" />
              </button>
              <ul class="dropdown-menu">
                  @foreach (var country in Model.countryList)
                  {
                      <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                          @country.Name
                          </a>
                      </li>
                  }                      
                </ul>
            </div>
          </div>
          <div class="filters col-3 py-5 m-1 w-100 filter-side-items">
            <div class="dropdown w-100 h-100 p-0">
              <button
                class="w-100 h-100 dropdown-toggle border-0 bg-transparent d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                City
                <img src="~/images/drop-down.png" alt="" />
              </button>
              <ul class="dropdown-menu">
                     @foreach(var cities in Model.cityList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                          @cities.Name
                          </a>
                      </li>
                     }
                    </ul>
            </div>
          </div>
          <div class="filters col-3 py-5 m-1 w-100 filter-side-items">
            <div class="dropdown w-100 h-100 p-0">
              <button
                class="w-100 h-100 dropdown-toggle border-0 bg-transparent d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Theme
                <img src="~/images/drop-down.png" alt="" />
              </button>
              <ul class="dropdown-menu">
                     @foreach(var theme in Model.themeList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                        @theme.Title  
                        </a>
                      </li>
                     }
                    </ul>
            </div>
          </div>
          <div class="filters col-3 py-5 m-1 w-100 filter-side-items">
            <div class="dropdown w-100 h-100 p-0">
              <button
                class="w-100 h-100 dropdown-toggle border-0 bg-white d-flex justify-content-between align-items-center"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Skills
                <img src="~/images/drop-down.png" alt="" />
              </button>
              <ul class="dropdown-menu">
                     @foreach(var skill in @Model.skillList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                        @skill.SkillName
                        </a>
                      </li>
                     }
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main-container" class="w-100">
      <header class="w-100 bg-white position-sticky z-2 border-bottom">
        <div id="main-first-header" class="d-flex justify-content-between align-items-center mx-auto">
          <div id="leftNavbar" class="d-flex align-items-center">
            <div id="menuimg" class="d-flex d-block d-md-none justify-content-center align-items-center p-2 m-1 mx-3">
              <img src="~/images/list.png" alt="" />
            </div>

            <img src="~/images/logo.png" alt="" />

            <div id="menu-heading" class="d-none d-md-flex justify-content-center align-items-center">
              <a href="#" class="text-decoration-none text-dark mx-3">Stories</a>
              <div class="dropdown">
                <button class="dropdown-toggle border-0 bg-white m-1" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Policy
                  <img src="~/images/drop-down.png" alt="" />
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="rightNavbar" class="d-flex align-items-center">
            <button id="search-button" class="p-1 mx-3 border-0 bg-white d-sm-none">
              <img src="~/images/search.png" alt="" />
            </button>
            <a href=""><img id="user-profile-img" src="~/images/user-img.png" class="rounded-circle object-fit-cover"
                alt="" /></a>
            <div class="dropdown d-sm-block d-none">
              <button class="dropdown-toggle border-0 bg-white m-1" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                @Model.username
                <img src="~/images/drop-down.png" alt="" />
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>                
              </ul>
            </div>
          </div>
        </div>
      </header>

      <div>
        <div id="filter-mission-navbar" class="container-fluid border border-1 p-0 d-none d-sm-block position-sticky">
          <div class="mx-auto row" id="main-second-header">
            <div id="search-nav" class="col-md-6 col-10 d-flex align-items-center">
              <input type="text" id="search-input" placeholder="Search mission..."
                class="border-0 rounded-5 bg-white p-3 ps-5" />
            </div>

            <div id="search-nav" class="col-md-6 col-2 p-md-0 d-md-block d-flex justify-content-end align-items-center">
              <button class="d-md-none border-0 bg-transparent" type="button" id="filter-button">
                <img src="~/images/filter.png" id="filter-image" alt="" />
              </button>
              <div class="row d-md-flex d-none mx-0" id="filter-dropdowns">
                <div class="filters col-3 p-0">
                  <div class="dropdown w-100 h-100 p-0">
                    <button
                      class="w-100 h-100 dropdown-toggle border-0 bg-white d-flex justify-content-between align-items-center"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Country
                      <img src="~/images/drop-down.png" alt="" />
                    </button>
                     <ul class="dropdown-menu">
                      @foreach (var country in Model.countryList)
                      {
                          <li class="p-1">
                            <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                              @country.Name
                              </a>
                          </li>
                      }                      
                    </ul>
                  </div>
                </div>
                <div class="filters col-3 p-0">
                  <div class="dropdown w-100 h-100 p-0">
                    <button
                      class="w-100 h-100 dropdown-toggle border-0 bg-transparent d-flex justify-content-between align-items-center"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      City
                      <img src="~/images/drop-down.png" alt="" />
                    </button>
                    <ul class="dropdown-menu">
                     @foreach(var cities in Model.cityList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                          @cities.Name
                          </a>
                      </li>
                     }
                    </ul>
                  </div>
                </div>
                <div class="filters col-3 p-0">
                  <div class="dropdown w-100 h-100 p-0">
                    <button
                      class="w-100 h-100 dropdown-toggle border-0 bg-transparent d-flex justify-content-between align-items-center"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Theme
                      <img src="~/images/drop-down.png" alt="" />
                    </button>
                    <ul class="dropdown-menu">
                     @foreach(var theme in Model.themeList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                        @theme.Title  
                        </a>
                      </li>
                     }
                    </ul>
                  </div>
                </div>
                <div class="filters col-3 p-0">
                  <div class="dropdown w-100 h-100 p-0">
                    <button
                      class="w-100 h-100 dropdown-toggle border-0 bg-white d-flex justify-content-between align-items-center"
                      type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Skills
                      <img src="~/images/drop-down.png" alt="" />
                    </button>
                    <ul class="dropdown-menu">
                     @foreach(var skill in @Model.skillList){
                        <li class="p-1">
                        <a class="dropdown-item" href="#"><input type="checkbox" name="country" id="" />
                        @skill.SkillName
                        </a>
                      </li>
                     }
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="no-mission-found" class="d-none">
    <h1 class="text-center my-3">No mission found</h1>
  </div>

  <div id="mission-content" class="container-fluid overflow-y-scroll">
   <!-- chips -->
    <div class="home-chips border border-1 d-flex py-2 px-1 align-items-center flex-wrap">
      <div class="chips d-flex flex-wrap mr-2">
        
        
      </div>
      <p class="no-filter-text">No filters applied</p>
      <a class="close-chips" style="display:none;" href="#">Clear All</a>
    </div>

    <!-- mission heading -->
    <div id="mission-header" class="my-2 d-flex align-items-center justify-content-between">
      <h2><span>Explore</span> 72 Missions</h2>

      <div class="h-100 mx-1 d-none align-items-center d-sm-flex">
        <div id="dropdown-sort" class="me-3">
          <select name="sort" id="sort-dropdown" class="h-100 w-100">
            <option value="Name">Name</option>
            <option value="Date">Date</option>
          </select>
        </div>
        <button id="grid-view-btn" class="bg-transparent me-3 border-0">
          <img src="~/images/grid.png" id="grid-logo" alt="" />
        </button>
        <button id="list-view-btn" class="bg-transparent me-3 border-0">
          <img src="~/images/list.png" id="list-logo" alt="" />
        </button>
      </div>

      <!-- mission cards -->
    </div>

    <!-- mission cards -->
<!-- Grid view -->
    <div id="mission-grid" class="container p-0">
      <div class="row h-auto">
       
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Tree Canada</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Australian Paradise</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Nourish the Children in African country</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">The Hunger</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Tree Canada</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Australian Paradise</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Nourish the Children in African country</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">The Hunger</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Tree Canada</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">Australian Paradise</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
          <div class="card">
            <img class="card-img-top w-100 card-img"
              src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
            <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
              <div id="location-image" class="img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="user-img" class="img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
            <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div class="card-body">
              <h5 class="card-title fs-3">Nourish the Children in African country</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
                ...
              </p>

              <div id="star-content" class="d-flex align-items-center justify-content-between">
                <p class="my-auto">The Hunger</p>
                <div class="d-flex align-items-center">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/selected-star.png" alt="">
                  <img src="~/images/star.png" alt="">
                  <img src="~/images/star.png" alt="">
                </div>
              </div>
            </div>

            <div id="mission-duration-div">
              <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
                11/02/2020</h5>
            </div>

            <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
              <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="count" class="m-0 p-0 fs-5">10</p>
                  <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                </div>
              </div>

              <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                <img id="deadline-image" src="~/images/deadline.png" alt="">
                <div class="d-flex flex-column p-2 ">
                  <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                  <p id="deadline-text" class="m-0 p-0">Deadline</p>
                </div>
              </div>
            </div>
            <div class="card-button-apply m-1 p-1 w-100 text-center">
              <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                Apply
                <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    

    <!-- List View -->
     <div id="mission-list" class="d-none p-0">
      <div class="row">

        <div id="list-card-parent" class="col-12 d-flex p-0 mb-4 border shadow">

          <div class="list-image-part position-relative">
            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="list-img" alt="" />
            <h5 class="list-card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div id="list-card-image-content"
              class="h-100 d-flex flex-column position-absolute  p-2">
              <div id="list-location-image" class="list-img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="list-content-part d-flex flex-column justify-content-around p-2">
            <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
              ...
            </p>
            <div id="list-info-content"
              class="d-flex justify-content-between">
              <div>
                <div id="list-star-content" class="d-flex align-items-center justify-content-between">
                  <p class="my-auto">Tree Canada</p>
                  <div class="d-flex align-items-center">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                  </div>
                </div>
                <div class="list-card-button-apply m-1 p-1 w-100 ">
                  <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                    Apply
                    <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
                  </button>
              </div>


            </div>
            <div>
              <div id="list-mission-duration-div">
                <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019
                </h5>
              </div>
              
              <div id="list-seats-info-card"
                class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
                <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="count" class="m-0 p-0 fs-5">10</p>
                    <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
                  </div>
                </div>
              
                <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-deadline-image" src="~/images/deadline.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                    <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div id="list-card-parent" class="col-12 d-flex p-0 mb-4 border shadow">

          <div class="list-image-part position-relative">
            <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="list-img" alt="" />
            <h5 class="list-card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div id="list-card-image-content"
              class="h-100 d-flex flex-column position-absolute  p-2">
              <div id="list-location-image" class="list-img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="list-content-part d-flex flex-column justify-content-around p-2">
            <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
              ...
            </p>
            <div id="list-info-content"
              class="d-flex justify-content-between">
              <div>
                <div id="list-star-content" class="d-flex align-items-center justify-content-between">
                  <p class="my-auto">Tree Canada</p>
                  <div class="d-flex align-items-center">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                  </div>
                </div>
                <div class="list-card-button-apply m-1 p-1 w-100 ">
                  <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                    Apply
                    <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
                  </button>
              </div>


            </div>
            <div>
              <div id="list-mission-duration-div">
                <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019
                </h5>
              </div>
              
              <div id="list-seats-info-card"
                class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
                <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="count" class="m-0 p-0 fs-5">10</p>
                    <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
                  </div>
                </div>
              
                <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-deadline-image" src="~/images/deadline.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                    <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


        <div id="list-card-parent" class="col-12 d-flex p-0 mb-4 border shadow">

          <div class="list-image-part position-relative">
            <img src="~/images/Nourish-the-Children-in--African-country.png" class="list-img" alt="" />
            <h5 class="list-card-theme-title bg-white rounded-5 p-2">Environment</h5>
            <div id="list-card-image-content"
              class="h-100 d-flex flex-column position-absolute  p-2">
              <div id="list-location-image" class="list-img-content p-2 rounded-5">
                <img src="~/images/pin.png" alt="">
                Torrento
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="img-heart list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/heart.png" alt="">
                </div>
                <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
                  <img src="~/images/user.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="list-content-part d-flex flex-column justify-content-around p-2">
            <h5 class="card-title fs-3">Nourish the Children in African country</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
              ...
            </p>
            <div id="list-info-content"
              class="d-flex justify-content-between">
              <div>
                <div id="list-star-content" class="d-flex align-items-center justify-content-between">
                  <p class="my-auto">Tree Canada</p>
                  <div class="d-flex align-items-center">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/selected-star.png" alt="">
                    <img src="~/images/star.png" alt="">
                    <img src="~/images/star.png" alt="">
                  </div>
                </div>
                <div class="list-card-button-apply m-1 p-1 w-100 ">
                  <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                    Apply
                    <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
                  </button>
              </div>


            </div>
            <div>
              <div id="list-mission-duration-div">
                <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019
                </h5>
              </div>
              
              <div id="list-seats-info-card"
                class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
                <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="count" class="m-0 p-0 fs-5">10</p>
                    <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
                  </div>
                </div>
              
                <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                  <img id="list-deadline-image" src="~/images/deadline.png" alt="">
                  <div class="d-flex flex-column p-2 ">
                    <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
                    <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="pagination" class="container-fluid d-flex align-items-center justify-content-center p-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination ">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&lt;&lt;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li><li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&gt;&gt;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
  </div>

  <footer id="mission-footer" class="container-fluid border-top">
    <div class="py-4 mx-auto">
      <a href="#">Privacy Policy</a>
    </div>
  </footer>
 @section JavaScript
{
   <script type="text/javascript" src="~/js/custom.js"></script>
}