@model CIPlatform.Entities.ViewModels.MissionVolunteerViewModel

    @section Style{
       <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all"
        rel="stylesheet" type="text/css" />

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme CSS files as mentioned below (and change the theme property of the plugin) -->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css"
        media="all" rel="stylesheet" type="text/css" />
    }
    <div id="main-header" class="d-flex flex-row">
        <div id="menu-side-bar" class="position-absolute">
            <div id="close-img" class="p-3 img-close">
                <img src="~/images/cancel.png" alt="" />
            </div>
            <div id="menu-heading" class="d-flex justify-content-center align-items-center">
                <a asp-action="Index" asp-controller="Story" asp-route-missionId="@Model.MissionId" class="side-menu-items text-decoration-none text-dark w-100 m-1 p-1 px-2">Stories</a>
                <div class="side-menu-items dropdown w-100 m-1 p-1 px-2">
                    <button
                        class="dropdown-toggle border-0 bg-white w-100 d-flex justify-content-between align-items-center"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Policy
                        <img src="~/images/drop-down.png" alt="" />
                    </button>
                    <ul class="dropdown-menu w-100">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main-container" class="w-100">
            <header class="w-100 bg-white position-sticky z-2 border-bottom">
                <div id="main-first-header" class="d-flex justify-content-between align-items-center mx-auto">
                    <div id="leftNavbar" class="d-flex align-items-center">
                        <div id="menuimg"
                            class="d-flex d-block d-md-none justify-content-center align-items-center p-2 m-1 mx-3">
                            <img src="~/images/list.png" alt="" />
                        </div>

                        <img src="~/images/logo.png" alt="" />

                        <div id="menu-heading" class="d-none d-md-flex justify-content-center align-items-center">
                            <a asp-action="Index" asp-controller="Story" asp-route-missionId="@Model.MissionId" class="text-decoration-none text-dark mx-3">Stories</a>
                            <div class="dropdown">
                                <button class="dropdown-toggle border-0 bg-white m-1" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Policy
                                    <img src="~/images/drop-down.png" alt="" />
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="rightNavbar" class="d-flex align-items-center">
                        <a href=""><img id="user-profile-img" src="@Model.avtar"
                                class="rounded-circle object-fit-cover" alt="" /></a>
                        <div class="dropdown d-sm-block d-none">
                            <button class="dropdown-toggle border-0 bg-white m-1 user-btn" id="user-btn-@Model.userid" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                @Model.username
                                <img src="~/images/drop-down.png" alt="" />
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div id="mission-content" class="container-fluid overflow-y-scroll p-0 volunteer-content">
        <div id="volunteer-top-info" class="d-flex flex-column flex-sm-row">
            <div id="volunteer-image-part" class="w-50">
                <img id="preview-image" src="~/@Model.MediaPath/@Model.MediaName.ToString().Split(",")[0]@Model.MediaType"
                    class="w-100 volunteer-main-image" alt="" />
                <!-- carousel -->
                <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
                    <div class="carousel-inner h-100 w-100">
                        <div class="carousel-item active h-100 w-100">
                            <div class="d-flex h-100 w-100">
                                @{
                                string[] mediaNames = Model.MediaName.ToString().Split(",");
                                int mediaLength = mediaNames.Length;
                            }
                            @for(int i=0;i<mediaLength;i++)
                            {
                            <div class="h-100 w-25">
                                    <img src="~/@Model.MediaPath/@mediaNames[i]@Model.MediaType"
                                        class="carousel-images d-block w-100 h-100 p-1" alt="..." />
                                </div>     
                                @if ((i+1)%4==0 && i!=0 && (i+1)!=mediaLength)
                                {                                    
                            @:</div>
                            @:</div>
                            @:<div class="carousel-item h-100 w-100">
                                @:<div class="d-flex h-100 w-100">
                                }
                            }
                            </div>
                        </div>                     
                    </div>
                    <button class="carousel-control-prev bg-black" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next bg-black" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div id="volunteer-content-part" class="w-50 p-2 d-flex flex-column justify-content-around">
                <div id="volunteer-mission-title-div">
                    <div id="volunteer-mission-title" class="fs-1">
                        @Model.Title
                    </div>
                    <div id="volunteer-mission-description" class="fs-6">
                       @Model.ShortDescription
                    </div>
                </div>
                <div id="volunteer-mission-details-div">
                    <div>
                        <div id="volunteer-mission-tagline-div">
                            <h5 id="volunteer-mission-tagline-title" class="border bg-white rounded-5 m-auto fs-6 p-2">
                                From @Model.StartDate.ToString().Substring(0,10) until @Model.EndDate.ToString().Substring(0,10)
                            </h5>
                        </div>

                        <div id="volunteer-seats-info-card"
                            class="d-flex flex-row flex-sm-column border-bottom border-top border-1 position-relative pt-3 align-items-md-center justify-content-md-center flex-column flex-md-row">
                            <div id="volunteer-remain-seats-cards"
                                class="w-50 d-flex align-items-center justify-content-md-center p-1 px-lg-4 px-md-1">
                                <img id="vounteer-seats-left-image" src="~/images/Seats-left.png" alt="" />
                                <div class="d-flex flex-column p-2">
                                    <p id="count" class="m-0 p-0">10</p>
                                    <p id="vounteer-seats-left-text" class="m-0 p-0">
                                        Seats left
                                    </p>
                                </div>
                            </div>

                            <div id="vounteer-achieved-info-card"
                                class="w-50 d-flex align-items-center justify-content-md-center p-1 px-lg-4 px-md-1">
                                <img id="vounteer-achieved-image" src="~/images/achieved.png" alt="" />
                                <div class="d-flex flex-column p-2">
                                    <div class="progress">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p id="vounteer-achieved-text" class="m-0 p-0">
                                        8000 achieved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mission-favourite-recomend-div" class="d-flex flex-column flex-md-row">
                    <button id="favourite-btn" style="background-color:white"
                        class="w-50 volunteer-favourite-button border border-3 rounded-5  p-2 py-1 p-md-2 m-1 m-md-2">
                        <img id="favourite-img-heart" src="~/images/heart1.png" alt="" />
                        <span>Add to Favourite</span>
                    </button>
                    <button  data-bs-toggle="modal" data-bs-target="#exampleModal" 
                        class="w-50 volunteer-favourite-button border border-3 rounded-5 bg-white p-2 py-1 p-md-2 m-1 m-md-2">
                        <img src="~/images/add1.png" alt="" />
                        <span>Recommend to a Co-Worker</span>
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">                              
                            <input id="recommend-input" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="send-email-btn">Send</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div id="mission-related-information-div">
                        <div id="stars-rating" class="d-flex justify-content-center align-items-center position-relative z-1">
                            <input id="star-input-id" type="text" class="rating text-center d-none" data-size="sm" />
                        </div>
                    <div
                        class="border-top border-1 d-flex justify-content-between justify-content-sm-around pt-3 pt-md-5 position-relative flex-wrap flex-md-nowrap mission-related-item">
                        <div class="border border-1 mission-related-info d-flex flex-column justify-content-around">
                            <div class="">
                                <img src="~/images/pin1.png" class="p-1 p-md-2" alt="" />
                            </div>
                            <div class=" d-flex flex-column p-1 p-md-2">
                                <div class=" mission-related-info-title">city</div>
                                <div id="mission-city-name" class=" mission-related-info-desc">@Model.CityName</div>
                            </div>
                        </div>
                        <div class="border border-1 mission-related-info d-flex flex-column justify-content-around">
                            <div class="">
                                <img src="~/images/web.png" class="p-1 p-md-2" alt="" />
                            </div>
                            <div class=" d-flex flex-column p-1 p-md-2">
                                <div class=" mission-related-info-title">Theme</div>
                                <div class=" mission-related-info-desc" id="mission-theme">@Model.ThemeTitle</div>
                            </div>
                        </div>
                        <div class="border border-1 mission-related-info d-flex flex-column justify-content-around">
                            <div class="">
                                <img src="~/images/calender.png" class="p-1 p-md-2" alt="" />
                            </div>
                            <div class=" d-flex flex-column p-1 p-md-2">
                                <div class=" mission-related-info-title">Date</div>
                                <div class=" mission-related-info-desc">
                                    Ongoing Opportunity
                                </div>
                            </div>
                        </div>
                        <div class="border border-1 mission-related-info d-flex flex-column justify-content-around">
                            <div class="">
                                <img src="~/images/organization.png" class="p-1 p-md-2" alt="" />
                            </div>
                            <div class=" d-flex flex-column p-1 p-md-2">
                                <div class=" mission-related-info-title">
                                    Organization
                                </div>
                                <div class=" mission-related-info-desc">@Model.OrganizationName</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="favourite-mission-@Model.MissionId" class="volunteer-button-apply m-md-1 p-md-1 w-100">
                    <button id="volunteer-apply-btn" class="btn rounded-5 py-2 px-4 fs-5">
                        Apply Now
                        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="" />
                    </button>
                </div>
            </div>
        </div>

        <div id="volunteer-information" class="d-flex flex-column flex-md-row pt-3 justify-content-between">
            <div id="volunteer-info-tabs" class="">
                <!-- Tab links -->
                <div class="tab">
                    <button class="tablinks p-2 p-sm-4" onclick="openCity(event, 'Mission')">
                        Mission
                    </button>
                    <button class="tablinks p-2 p-sm-4" onclick="openCity(event, 'Organization')">
                        Organization
                    </button>
                    <button class="tablinks p-2 p-sm-4" onclick="openCity(event, 'Comments')">
                        Comments
                    </button>
                </div>

                <!-- Tab content -->
                <div id="Mission" class="tabcontent">
                    <h3>Introduction</h3>
                    <p>@Model.Description</p>
                    <h3>Documents</h3>
                    <div class="">
                    @if (@Model.DocumentName==null)                    
                    {
                        <p>No documents found</p>
                    }
                    else
                    {
                    string[] documentNames = Model.DocumentName.ToString().Split(",");
                    int docuemntLength = documentNames.Length;
                        
                    @for(int i=0;i<docuemntLength;i++)
                            {
                        <button class="border border-1 rounded-5 px-3 py-2 bg-white mx-2">
                            <a href="~/@Model.DocumentPath/@documentNames[i]@Model.DocumentType" target="_blank"
                                class="text-decoration-none text-dark">
                                <img src="~/images/doc.png" class="px-2" alt="">@documentNames[i]@Model.DocumentType
                            </a>
                        </button>
                            }
                    }
                    </div>
                </div>
                <div id="Organization" class="tabcontent">
                    <h3>Organization Introduction</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat
                        nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>

                <div id="Comments" class="tabcontent">
                    <form class="mt-3" action="">
                        <textarea id="comment" class="w-100 rounded-2 p-1" placeholder="Enter your comments.." rows="4"
                            name="" id="mission-comment"></textarea>
                        <button id="mission-comment-btn" class="orange-btn py-2 px-4 my-2 rounded-5 bg-transparent">
                            Post comment
                        </button>
                    </form>
                    <div id="volunteer-comments-div" class=" p-2 ">
                        
                     

                    </div>
                </div>
            </div>
            <div id="volunteer-recent-info" class="d-flex flex-sm-row flex-column flex-md-column h-100  ">
                <div id="volunteer-basic-info-div"
                    class="border border-1 bg-white my-1 my-md-2 mx-1 mx-md-0 py-3 px-1 px-md-0  py-md-1 px-2 px-md-4">

                    <div class="border-bottom border-1 p-2 pb-0">
                        <span id="volunteer-information-span" class="fs-4">
                            Information
                        </span>
                    </div>
                    <div class="">
                        <div
                            class="d-flex flex-column flex-md-row py-1 py-md-3 px-1 px-md-2 fs-6 border-top border-1 volunteer-info-div-items">
                            <div class="w-25">Skills</div>
                        @if (Model.Skill == null)
                        {
                            <div class="w-75">No skills required</div>
                        }
                        else
                        {
                            <div class="w-75">@Model.Skill</div>                            
                        }
                    </div>
                        <div
                            class="d-flex flex-column flex-md-row py-2 py-md-3 px-1 px-md-2 fs-6 border-top border-1 volunteer-info-div-items">
                            <div class="w-25">Days</div>
                            <div class="w-75"> @Model.Availability</div>
                        </div>
                        <div
                            class="d-flex flex-column flex-md-row py-2 py-md-3 px-1 px-md-2 fs-6 border-top border-1 volunteer-info-div-items">

                            <div class="w-25">Rating</div>
                            <div class="w-75">
                            @{
                                int noOfStars;
                            }
                            @if(Model.Rating !=null)
                            {                           
                                noOfStars=(int)Model.Rating;
                            }
                            else
                            {
                                noOfStars = 0;                            
                            }
                            @{
                                int totalStars = 5;
                                int notSelectedStars = totalStars - noOfStars;
                            }
                                @for(int i = 0; i<noOfStars; i++)
                            {
                            <img src="~/images/selected-star.png" alt="">
                            }
                            @for(int i = 0; i<notSelectedStars; i++)
                            {
                            <img src="~/images/star.png" alt="">
                            }

                                <span>(by @Model.TotalVoulunteerRating volunteers)</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="recent-volunteer-info-div"
                    class="border border-1 my-2 mx-1 mx-md-0 d-flex py-3 px-1 px-md-0 py-md-0 flex-column justify-content-md-between">
                    <div class="border-bottom border-1 p-2 p-md-4 pb-0">
                        <span id="volunteer-recent-volunteer-span" class="fs-4">
                            Recent Volunteers
                        </span>
                    </div>
                    <div id="recent-volunteers-div" class="d-flex flex-wrap align-content-lg-start h-75 p-1">

                    </div>
                    <div id="volunteer-scroll-bar"
                        class="d-flex justify-content-center align-items-center border border-1 m-0 w-100">
                        <button class="volunteer-scroll-bar-btn p-2 border border-1 bg-white">
                            <img src="~/images/left.png" alt="left">
                        </button>
                        <p class="volunteer-scroll-bar-span m-0 text-center p-2">1 - 9 of 25 Recent Volunteers</p>
                        <button class="volunteer-scroll-bar-btn p-2 border border-1 bg-white">
                            <img src="~/images/right-arrow1.png" alt="right">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Related missions -->
        <div id="volunteer-related-missions" class="border-0 border-top mt-4 pt-1 pt-md-4">
            <h1 id="related-mission-heading" class="text-center fs-1">
                Related Missions
            </h1>

            <div id="related-mission-grid" class="container p-0">
              
            </div>
        </div>
    </div>
    <footer id="mission-footer" class="container-fluid border-top">
        <div class="py-4 mx-auto">
            <a href="#">Privacy Policy</a>
        </div>
    </footer>

    @section JavaScript{
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js"
        type="text/javascript"></script>

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme JS files as mentioned below (and change the theme property of the plugin) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>

    <script src="~/js/volunteer_mission.js"></script>

}