@model CIPlatform.Entities.ViewModels.VolunteerTimesheetViewModel
@section Style{
<style>
    .vol-time-div::-webkit-scrollbar {
        display: none;
    }
</style>
}
<partial name="_header" model="Model.headerViewModel" />

@if (TempData.ContainsKey("TimeError"))
{
    <script>
        alert('@TempData["TimeError"]')
    </script>
    TempData.Remove("TimeError");
}
<div id="mission-content" class="container-fluid overflow-y-scroll p-0 volunteer-content">
    <div id="volunteering-timesheet-div" class="h-100 d-flex justify-content-center align-items-center flex-column">
        <h1 class="align-self-start fw-light">Volunteering Timesheet</h1>
        <div id="volunteer-timesheet-main-div" class=" h-50 w-100 d-flex flex-column flex-md-row">
            <div style="overflow-y: scroll;" class="vol-time-div border m-2 w-50 h-100 py-4 px-2">
                <div class="d-flex justify-content-between">
                    <h4 class="fw-light">Volunteering Hours</h4>
                    <button class="add-vol-data-btn btn btn-outline-warning orange-btn rounded-5 p-2 px-3" data-bs-toggle="modal" data-bs-target="#hourTimesheetModal">
                        + Add
                    </button>
                </div>

                <div id="hour-based-records">
                </div>

                <!-- Button trigger modal -->
                <!-- Modal -->
                <div class="modal fade" id="hourTimesheetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin: 20vh 0 0 25vw;">
                        <div class="modal-content" style="width:50vw;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Hours</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST">
                                <div class="modal-body">
                                    <label for="" class="form-label">Mission</label>
                                    <select id="volunteer-timesheet-hour-mission" class="form-select">
                                        @if (Model.timeBasedMissions.Count() < 1)
                                        {
                                            <option value="-1">No mission found</option>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.timeBasedMissions)
                                            {
                                                <option value="@item.MissionId">@item.Title</option>
                                            }
                                        }
                                    </select>
                                    <label for="" class="form-label">Date Volunteered</label>
                                    <input asp-for="volunteerTimesheetRecordModel.DateVolunteered" type="text" onfocus="(this.type='date')" id="volunteer-hour-timesheet-date" class="form-control" placeholder="Select Date" />
                                    <span asp-validation-for="volunteerTimesheetRecordModel.DateVolunteered" class="text-danger"></span>

                                    <div class="row">
                                        <div class="col-6">
                                            <label for="" class="form-label">Hours</label>
                                            <input asp-for="volunteerTimesheetRecordModel.Hour" type="number" id="volunteer-hour-timesheet-hour" class="form-control" min="0" max="23" placeholder="Enter spent Hours">
                                            <span asp-validation-for="volunteerTimesheetRecordModel.Hour" class="text-danger"></span>

                                        </div>
                                        <div class="col-6">
                                            <label for="" class="form-label">Minutes</label>
                                            <input asp-for="volunteerTimesheetRecordModel.Minutes" type="number" id="volunteer-hour-timesheet-minutes" class="form-control" min="0" max="59" placeholder="Enter spent Minutes">
                                            <span asp-validation-for="volunteerTimesheetRecordModel.Minutes" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <label for="" class="form-label">Message</label>
                                    <textarea asp-for="volunteerTimesheetRecordModel.Notes" id="volunteer-hour-timesheet-message" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                                    <span asp-validation-for="volunteerTimesheetRecordModel.Notes" class="text-danger"></span>
                                    <input type="text" id="hour-timesheetId" hidden />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="bg-white rounded-5 p-2 px-3" data-bs-dismiss="modal">Cancel</button>
                                    <input id="hour-timesheet-submit-btn" type="submit" class="timesheet-submit-btn btn btn-outline-warning orange-btn rounded-5 p-2 px-3" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div style="overflow-y: scroll;" class="vol-time-div border m-2 w-50 h-100 py-4 px-2">
                <div class="d-flex justify-content-between">
                    <h4 class="fw-light">Volunteering Goals</h4>
                    <button class="add-vol-data-btn btn btn-outline-warning orange-btn rounded-5 p-2 px-3" data-bs-toggle="modal" data-bs-target="#goalTimesheetModal">
                        + Add
                    </button>
                </div>
                <div id="goal-based-records"></div>
                <!-- Modal -->
                <div class="modal fade" id="goalTimesheetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" style="margin: 20vh 0 0 25vw;">
                        <div class="modal-content" style="width:50vw;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please input below Volunteering Goal</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="POST">
                                <div class="modal-body">
                                    <label for="" class="form-label">Mission</label>
                                    <select id="volunteer-timesheet-goal-mission" class="form-select">
                                        @if (Model.goalBasedMissions.Count() < 1)
                                        {
                                            <option value="-1">No mission found</option>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.goalBasedMissions)
                                            {
                                                <option value="@item.MissionId">@item.Title</option>
                                            }
                                        }

                                    </select>
                                    <label for="" class="form-label">Actions</label>
                                    <input asp-for="volunteerTimesheetRecordModel.Action" id="volunteer-goal-timesheet-action" type="number" min="1" class="form-control" placeholder="Enter Actions" />
                                    <span asp-validation-for="volunteerTimesheetRecordModel.Action" class="text-danger"></span>
                                    <div>
                                        <label for="" class="form-label">Date Volunteered</label>
                                        <input asp-for="volunteerTimesheetRecordModel.DateVolunteered" type="text" onfocus="(this.type='date')" id="volunteer-goal-timesheet-date" class="form-control" placeholder="Select Date" />
                                        <span asp-validation-for="volunteerTimesheetRecordModel.DateVolunteered" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <label for="" class="form-label">Message</label>
                                        <textarea asp-for="volunteerTimesheetRecordModel.Notes" id="volunteer-goal-timesheet-message" class="form-control" rows="3" placeholder="Enter your message"></textarea>
                                        <span asp-validation-for="volunteerTimesheetRecordModel.Notes" class="text-danger"></span>
                                    </div>
                                </div>
                                <input type="number" id="goal-timesheetId" hidden />
                                <div class="modal-footer">
                                    <button type="button" class="bg-white rounded-5 p-2 px-3" data-bs-dismiss="modal">Cancel</button>
                                    <input id="goal-timesheet-submit-btn" type="submit" class="timesheet-submit-btn btn btn-outline-warning orange-btn rounded-5 p-2 px-3" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<partial name="_footer" />



@section JavaScript{
<script src="~/js/volunteering_timesheet.js"></script>
}
