@using CIPlatform.Entities.DataModels
@model CIPlatform.Entities.ViewModels.AdminPageList<Mission>
<table class="table border admin-table">
    <thead>
        <tr class="p-1 fs-5" style="background-color: #F8F9FC;">
            <th>Mission Title</th>
            <th>Mission Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Records)
        {
            <tr class="p-1 fs-6">
                <td>@item.Title</td>
                <td>@item.MissionType</td>
                <td>@item.StartDate.ToString().Substring(0,10)</td>
                <td>@item.EndDate.ToString().Substring(0,10)</td>
                <td>
                    <div class="d-flex justify-content-start align-items-center w-100">
                        <svg id="edit-@item.MissionId" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi text-orange bi-pencil-square edit-mission-btn" style="cursor:pointer;" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                        <img id="delete-@item.MissionId" style="cursor:pointer;height:20px" class="ms-3 delete-mission-btn" src="/images/bin.png" alt="" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    int pageSize = 5;
    double pageCount = Math.Ceiling((Model.TotalCount * 1.0) / (pageSize * 1.0));
}
<div class="pe-0 pe-sm-5 d-flex justify-content-end align-items-center">
    <div id="pages-@pageCount" class="Pagination Pagination-total">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" id="pagination">
                <li style="cursor:pointer;" class="page-item"><a class="page-link">&lt;&lt;</a></li>
                <li style="cursor:pointer;" class="page-item"><a class="page-link">&lt;</a></li>

                @for (int i = 1; i <= pageCount; i++)
                {
                    <li class="page-item ">
                        <a class="page-link" href="">@i</a>
                    </li>
                }
                <li style="cursor:pointer;" class="page-item"><a class="page-link">&gt;</a></li>
                <li style="cursor:pointer;" class="page-item"><a class="page-link">&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>