@model IEnumerable<CIPlatform.Entities.ViewModels.MissionViewModel>
@{
    int counter = Model.Count();
}

<div id="mission-header" class="my-2 d-flex align-items-center justify-content-between">
      <h2><span>Explore</span> @counter Missions</h2>

      <div class="h-100 mx-1 d-none align-items-center d-sm-flex">
        <div id="dropdown-sort" class="me-3">
          <select name="sort" id="sort-dropdown" class="h-100 w-100">
            <option value="Select">Select</option>
            <option value="DateASC">Date Ascending</option>
            <option value="DateDESC">Date Descending</option>
          </select>
        </div>
        <button id="grid-view-btn" class="bg-transparent me-3 border-0">
          <img src="~/images/grid.png" id="grid-logo" alt="" />
        </button>
        <button id="list-view-btn" class="bg-transparent me-3 border-0">
          <img src="~/images/list.png" id="list-logo" alt="" />
        </button>
      </div>

      <!-- mission cards -->
    </div>

@{
    if(counter == 0)
    {                
        <div id="no-mission-found">
        <h1 class="text-center my-3">No mission found</h1>
        </div>
    }
}
<div id="mission-grid" class="container p-0">
    <div class="row h-auto" data-current-page="1" aria-live="polite">
        
        @foreach(var data in Model)
        {
            
        <div id="card-parent" class="card-parent col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img" src=~/@data.MediaPath/@data.MediaName.ToString().Split(",")[0]@data.MediaType alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        @data.CityName
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1 favourite-mission-div" style="background-color:black;" id="favourite-mission-@data.MissionId">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">@data.ThemeTitle</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">@data.Title</h5>
        <p class="card-text">
        @data.ShortDescription
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">@data.OrganizationName</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">
        From @data.StartDate.ToString().Substring(0,10) until @data.EndDate.ToString().Substring(0,10)
        </h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <a href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = data.MissionId }) "> 
            <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
            Apply
            <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </a>
        </div>
        </div>
        </div>
        }

        @*<div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Australian Paradise</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>

        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Nourish the Children in African country</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">The Hunger</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
        11/02/2020</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Tree Canada</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
        11/02/2020</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>

        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Australian Paradise</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>

        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Nourish the Children in African country</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">The Hunger</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
        11/02/2020</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>
        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Grow Trees-On the path to environment sustainability</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Tree Canada</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
        11/02/2020</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>

        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Australian Paradise</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>

        <div id="card-parent" class="col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
        <div class="card">
        <img class="card-img-top w-100 card-img"
        src="~/images/Nourish-the-Children-in--African-country.png" alt="Card image cap" />
        <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
        <div id="location-image" class="img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="user-img" class="img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        <h5 class="card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div class="card-body">
        <h5 class="card-title fs-3">Nourish the Children in African country</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>

        <div id="star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">The Hunger</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        </div>

        <div id="mission-duration-div">
        <h5 id="card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2020 until
        11/02/2020</h5>
        </div>

        <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        <div class="card-button-apply m-1 p-1 w-100 text-center">
        <button id="apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>
        </div>
        </div>
        *@
    </div>
</div>


<!-- List View -->
<div id="mission-list" class="d-none p-0">
    <div class="row">
       
        @foreach(var data in Model)
        {
             
        <div id="list-card-parent" class="card-parent-list col-12 d-flex p-0 mb-4 border shadow">

        <div class="list-image-part position-relative">
                    <img src=~/@data.MediaPath/@data.MediaName.ToString().Split(",")[0]@data.MediaType class="list-img" alt="" />
        <h5 class="list-card-theme-title bg-white rounded-5 p-2">@data.ThemeTitle</h5>
        <div id="list-card-image-content"
        class="h-100 d-flex flex-column position-absolute  p-2">
        <div id="list-location-image" class="list-img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        @data.CityName
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart list-img-content p-2 rounded-5 m-1 favourite-mission-div"  style="background-color:black;" id="favourite-mission-@data.MissionId">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        </div>

        <div class="list-content-part d-flex flex-column justify-content-around p-2">
        <h5 class="card-title fs-3">@data.Title</h5>
        <p class="card-text">
        @data.ShortDescription
        ...
        </p>
        <div id="list-info-content"
        class="d-flex justify-content-between">
        <div>
        <div id="list-star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">@data.OrganizationName</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        <div class="list-card-button-apply m-1 p-1 w-100 ">
        <a href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = data.MissionId }) "> <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </a>
        </div>


        </div>
        <div>
        <div id="list-mission-duration-div">
        <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">
            From @data.StartDate.ToString().Substring(0,10) until @data.EndDate.ToString().Substring(0,10)
        </h5>
        </div>

        <div id="list-seats-info-card"
        class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        }

       @* <div id="list-card-parent" class="col-12 d-flex p-0 mb-4 border shadow">

        <div class="list-image-part position-relative">
        <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" class="list-img" alt="" />
        <h5 class="list-card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div id="list-card-image-content"
        class="h-100 d-flex flex-column position-absolute  p-2">
        <div id="list-location-image" class="list-img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart list-img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        </div>

        <div class="list-content-part d-flex flex-column justify-content-around p-2">
        <h5 class="card-title fs-3">Education Supplies for Every Pair of Shoes Sold</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>
        <div id="list-info-content"
        class="d-flex justify-content-between">
        <div>
        <div id="list-star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Tree Canada</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        <div class="list-card-button-apply m-1 p-1 w-100 ">
        <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>


        </div>
        <div>
        <div id="list-mission-duration-div">
        <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019
        </h5>
        </div>

        <div id="list-seats-info-card"
        class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>


        <div id="list-card-parent" class="col-12 d-flex p-0 mb-4 border shadow">

        <div class="list-image-part position-relative">
        <img src="~/images/Nourish-the-Children-in--African-country.png" class="list-img" alt="" />
        <h5 class="list-card-theme-title bg-white rounded-5 p-2">Environment</h5>
        <div id="list-card-image-content"
        class="h-100 d-flex flex-column position-absolute  p-2">
        <div id="list-location-image" class="list-img-content p-2 rounded-5">
        <img src="~/images/pin.png" alt="">
        Torrento
        </div>
        <div class="d-flex flex-column align-items-end">
        <div class="img-heart list-img-content p-2 rounded-5 m-1">
        <img src="~/images/heart.png" alt="">
        </div>
        <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
        <img src="~/images/user.png" alt="">
        </div>
        </div>
        </div>
        </div>

        <div class="list-content-part d-flex flex-column justify-content-around p-2">
        <h5 class="card-title fs-3">Nourish the Children in African country</h5>
        <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nulla blanditiis laboriosam inventore
        ...
        </p>
        <div id="list-info-content"
        class="d-flex justify-content-between">
        <div>
        <div id="list-star-content" class="d-flex align-items-center justify-content-between">
        <p class="my-auto">Tree Canada</p>
        <div class="d-flex align-items-center">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/selected-star.png" alt="">
        <img src="~/images/star.png" alt="">
        <img src="~/images/star.png" alt="">
        </div>
        </div>
        <div class="list-card-button-apply m-1 p-1 w-100 ">
        <button id="list-apply-btn" class="btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
        Apply
        <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
        </button>
        </div>


        </div>
        <div>
        <div id="list-mission-duration-div">
        <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">From 10/01/2019 until 25/02/2019
        </h5>
        </div>

        <div id="list-seats-info-card"
        class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="count" class="m-0 p-0 fs-5">10</p>
        <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
        </div>
        </div>

        <div id="list-deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
        <img id="list-deadline-image" src="~/images/deadline.png" alt="">
        <div class="d-flex flex-column p-2 ">
        <p id="list-deadline-date" class="m-0 p-0 fs-5">19/11/2022</p>
        <p id="list-deadline-text" class="m-0 p-0">Deadline</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>*@

    </div>
</div>
