@model CIPlatform.Entities.ViewModels.PaginationMission
@{
    int counter = (int)Model.missionCount;
}

<div id="mission-header" class="my-2 d-flex align-items-center justify-content-between">
    <h2><span>Explore</span> @counter Missions</h2>

    <div class="h-100 mx-1 d-none align-items-center d-sm-flex">
        <div id="dropdown-sort" class="me-3">
            <select name="sort" id="sort-dropdown" class="h-100 w-100">
                <option value="Select">Select</option>
                <option value="DateASC">Date Ascending</option>
                <option value="DateDESC">Date Descending</option>
                <option value="SeatASC">Total Seats Ascending</option>
                <option value="SeatDESC">Total Seats Descending</option>
                <option value="DateDESC">Deadline</option>
            </select>
        </div>
        <button id="grid-view-btn" class="bg-transparent me-3 border-0">
            <img src="~/images/grid.png" id="grid-logo" alt="" />
        </button>
        <button id="list-view-btn" class="bg-transparent me-3 border-0">
            <img src="~/images/list.png" id="list-logo" alt="" />
        </button>
    </div>

    <!-- mission cards -->
</div>

@{
    if (counter == 0)
    {
        <div id="no-mission-found">
            <h1 class="text-center my-3">No mission found</h1>
        </div>
    }
}
<div id="mission-grid" class="container p-0">
    <div class="row h-auto" data-current-page="1" aria-live="polite">

        @foreach (var data in Model.missions)
        {

            <div id="card-parent" class="card-parent col-lg-4 col-md-6 col-sm-6 col-12 grid-item h-auto mb-4">
                <div class="card">
                    <img class="card-img-top w-100 card-img" src=~/@data.MediaPath/@data.MediaName@data.MediaType alt="Card image cap" />

                    <div id="mission-applied-@data.MissionId" class="mission-applied bg-success position-absolute text-white p-2 px-4 rounded-end-5">Applied</div>
                    <div id="card-image-content" class="d-flex flex-column justify-content-between  p-2">
                        <div id="location-image" class="img-content p-2 rounded-5">
                            <img src="~/images/pin.png" alt="">
                            @data.CityName
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <div class="img-heart img-content p-2 rounded-5 m-1 favourite-mission-div" style="background-color:black;" id="favourite-mission-@data.MissionId">
                                <img src="~/images/heart.png" alt="">
                            </div>
                            <div id="user-img" class="img-content p-2 rounded-5 m-1">
                                <img src="~/images/user.png" alt="">
                            </div>
                        </div>
                    </div>
                    <h5 class="card-theme-title bg-white rounded-5 p-2">@data.ThemeTitle</h5>
                    <div class="card-body">
                        <h5 class="card-title fs-3">@data.Title</h5>
                        <p class="card-text">
                            @data.ShortDescription
                            ...
                        </p>

                        <div id="star-content" class="d-flex align-items-center justify-content-between">
                            <p class="my-auto">@data.OrganizationName</p>
                            <div class="d-flex align-items-center">
                                @{
                                    int noOfStars;
                                }
                                @if (data.Rating != null)
                                {
                                    noOfStars = (int)data.Rating;
                                }
                                else
                                {
                                    noOfStars = 0;
                                }
                                @{
                                    int totalStars = 5;
                                    int notSelectedStars = totalStars - noOfStars;
                                }
                                @for (int i = 0; i < noOfStars; i++)
                                {
                                    <img src="~/images/selected-star.png" alt="">
                                }
                                @for (int i = 0; i < notSelectedStars; i++)
                                {
                                    <img src="~/images/star.png" alt="">
                                }


                            </div>
                        </div>
                    </div>

                    <div id="mission-duration-div">
                        @if (data.MissionType == "time")
                        {
                            <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">

                                From @data.StartDate.ToString().Substring(0,10) until @data.EndDate.ToString().Substring(0,10)
                            </h5>
                        }
                        else
                        {

                            <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">

                                @data.GoalObjective
                            </h5>
                        }
                    </div>

                    <div id="seats-info-card" class="d-flex border border-1 position-relative pt-3 align-items-center justify-content-around">
                        <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                            <img id="seats-left-image" src="~/images/Seats-left.png" alt="">
                            <div class="d-flex flex-column p-2 ">
                                <p id="count" class="m-0 p-0 fs-5">@data.SeatsLeft</p>
                                <p id="seats-left-text" class="m-0 p-0">Seats left</p>
                            </div>
                        </div>
                        @if (data.MissionType == "time")
                        {
                            <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                                <img id="deadline-image" src="~/images/deadline.png" alt="">
                                <div class="d-flex flex-column p-2 ">
                                    <p id="deadline-date" class="m-0 p-0 fs-5">@data.EndDate.ToString().Substring(0,10)</p>
                                    <p id="deadline-text" class="m-0 p-0">Deadline</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                                <img id="vounteer-achieved-image" src="~/images/achieved.png" alt="" />
                                <div class="d-flex flex-column p-2">
                                    <div class="progress">
                                        @{
                                            double achieved = 0;
                                            int totalAchieved = 0;
                                            if (@data.AchievedGoal > 0)
                                            {
                                                totalAchieved = (int)data.AchievedGoal;
                                                achieved = ((double)@data.AchievedGoal * 100.0) / (double)@data.GoalValue;
                                            }
                                        }
                                        <div class="progress-bar" role="progressbar" style="width:@achieved%;" aria-valuenow="@achieved"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p id="vounteer-achieved-text" class="m-0 p-0">
                                        @totalAchieved achieved
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-button-apply m-1 p-1 w-100 text-center">
                        @if (data.EndDate > DateTime.Now || data.MissionType == "goal")
                        {
                            <a href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = data.MissionId }) ">
                                <button id="apply-btn" class="apply-btn-@data.MissionId btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                                    Apply
                                    <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
                                </button>
                            </a>
                        }
                        else
                        {
                            <button id="close-btn" class="btn btn-outline-secondary rounded-5 py-2 px-4 fs-5 disabled">
                                Closed
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- List View -->
<div id="mission-list" class="d-none p-0">
    <div class="row">

        @foreach (var data in Model.missions)
        {

            <div id="list-card-parent" class="card-parent-list col-12 d-flex p-0 mb-4 border shadow">

                <div class="list-image-part position-relative">
                    <img src=~/@data.MediaPath/@data.MediaName@data.MediaType class="list-img" alt="" />
                    <h5 class="list-card-theme-title bg-white rounded-5 p-2">@data.ThemeTitle</h5>
                    <div id="lmission-applied-@data.MissionId" class="lmission-applied bg-success position-absolute text-white p-2 px-4 rounded-end-5 top-0">Applied</div>
                    <div id="list-card-image-content"
                     class="h-100 d-flex flex-column position-absolute  p-2">
                        <div id="list-location-image" class="list-img-content p-2 rounded-5">
                            <img src="~/images/pin.png" alt="">
                            @data.CityName
                        </div>
                        <div class="d-flex flex-column align-items-end">
                            <div class="img-heart list-img-content p-2 rounded-5 m-1 favourite-mission-div" style="background-color:black;" id="favourite-mission-@data.MissionId">
                                <img src="~/images/heart.png" alt="">
                            </div>
                            <div id="list-user-img" class="list-img-content p-2 rounded-5 m-1">
                                <img src="~/images/user.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-content-part d-flex flex-column justify-content-around p-2">
                    <h5 class="card-title fs-3">@data.Title</h5>
                    <p class="card-text">
                        @data.ShortDescription
                        ...
                    </p>
                    <div id="list-info-content"
                     class="d-flex justify-content-between">
                        <div>
                            <div id="list-star-content" class="d-flex align-items-center justify-content-between">
                                <p class="my-auto">@data.OrganizationName</p>
                                <div class="d-flex align-items-center">
                                    @{
                                        int noOfStars;
                                    }
                                    @if (data.Rating != null)
                                    {
                                        noOfStars = (int)data.Rating;
                                    }
                                    else
                                    {
                                        noOfStars = 0;
                                    }
                                    @{
                                        int totalStars = 5;
                                        int notSelectedStars = totalStars - noOfStars;
                                    }
                                    @for (int i = 0; i < noOfStars; i++)
                                    {
                                        <img src="~/images/selected-star.png" alt="">
                                    }
                                    @for (int i = 0; i < notSelectedStars; i++)
                                    {
                                        <img src="~/images/star.png" alt="">
                                    }
                                </div>
                            </div>
                            <div class="list-card-button-apply m-1 p-1 w-100 ">
                                @if (data.EndDate > DateTime.Now || data.MissionType == "goal")
                                {
                                    <a href="@Url.Action("Mission_Volunteer", "Mission", new { missionId = data.MissionId }) ">
                                        <button id="apply-btn" class="apply-btn-@data.MissionId btn btn-outline-warning rounded-5 py-2 px-4 fs-5 ">
                                            Apply
                                            <img src="~/images/right-arrow.png" class="mx-1 ms-3" alt="">
                                        </button>
                                    </a>
                                }
                                else
                                {
                                    <button id="close-btn" class="btn btn-outline-secondary rounded-5 py-2 px-4 fs-5 disabled">
                                        Closed
                                    </button>
                                }
                            </div>


                        </div>
                        <div>
                            <div id="list-mission-duration-div">

                                @if (data.MissionType == "time")
                                {
                                    <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">

                                        From @data.StartDate.ToString().Substring(0,10) until @data.EndDate.ToString().Substring(0,10)
                                    </h5>
                                }
                                else
                                {

                                    <h5 id="list-card-time-duration-title" class="border bg-white rounded-5 m-auto fs-6 p-2">

                                        @data.GoalObjective
                                    </h5>
                                }
                            </div>

                            <div id="list-seats-info-card"
                             class="d-flex border-top border-1 position-relative pt-3 align-items-center justify-content-around">
                                <div id="remain-seats-cards" class=" w-50 d-flex align-items-center p-1 px-lg-4 px-md-1">
                                    <img id="list-seats-left-image" src="~/images/Seats-left.png" alt="">
                                    <div class="d-flex flex-column p-2 ">
                                        <p id="count" class="m-0 p-0 fs-5">@data.SeatsLeft</p>
                                        <p id="list-seats-left-text" class="m-0 p-0">Seats left</p>
                                    </div>
                                </div>

                                @if (data.MissionType == "time")
                                {
                                    <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-md-1">
                                        <img id="deadline-image" src="~/images/deadline.png" alt="">
                                        <div class="d-flex flex-column p-2 ">
                                            <p id="deadline-date" class="m-0 p-0 fs-6">@data.EndDate.ToString().Substring(0,10)</p>
                                            <p id="deadline-text" class="m-0 p-0">Deadline</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="deadline-info-card" class=" w-40 d-flex align-items-center p-1 px-lg-4 px-md-1">
                                        <img id="vounteer-achieved-image" src="~/images/achieved.png" alt="" />
                                        <div class="d-flex flex-column p-2">
                                            <div class="progress">
                                                @{
                                                    double achieved = 0;
                                                    int totalAchieved = 0;
                                                    if (@data.AchievedGoal > 0)
                                                    {
                                                        totalAchieved = (int)data.AchievedGoal;
                                                        achieved = ((double)@data.AchievedGoal * 100.0) / (double)@data.GoalValue;
                                                    }
                                                }
                                                <div class="progress-bar" style="width:@achieved%" role="progressbar" aria-valuenow="@achieved"
                                             aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <p id="vounteer-achieved-text" class="m-0 p-0">
                                                @totalAchieved achieved
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>

<div id="pages-@Model.pageCount" class="Pagination Pagination-total my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="pagination">
            <li style="cursor:pointer;" class="page-item"><a class="page-link">&lt;</a></li>
            @if (Model.pageCount <= 5)
            {
                for (int i = 1; i <= Model.pageCount; i++)
                {
                    <li class="page-item ">
                        <a class="page-link" href="">@i</a>
                    </li>
                }
            }
            else
            {
                int tmp = 1;
                int i = 1;
                while (tmp < 4)
                {
                    <li class="page-item ">
                        <a class="page-link" href="">@i</a>
                    </li>
                    i++;
                    tmp++;
                }
                <li class="page-item ">
                    <a class="page-link" href="" disabled>......</a>
                </li>
                tmp = 1;
                i = (int)Model.pageCount - 1;
                while (tmp <= 2)
                {
                    <li class="page-item ">
                        <a class="page-link" href="">@i</a>
                    </li>
                    i++;
                    tmp++;
                }
            }
            <li style="cursor:pointer;" class="page-item"><a class="page-link">&gt;</a></li>
        </ul>
    </nav>
</div>